/* global.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* to prevent horizontal scrolling */
}
.selector { /* .selector should be the class, ID, or element you identified */
  background-color: #000; /* This is black */
}


body {
  background-color: #ffffff; /* Ensure this encapsulating flake's standoff is also painted */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* Existing and any other your well-off styles */
}

input {
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in-slow {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.fade-in-widget {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
